body {
    margin: 0;
    padding: 0;
    background-color: #f8f7f3;
}

.header img{
    width: 100%;
}

.body-1 {
    width: 80%;
    margin-top: 40%;
    margin-left: 10%;
}

.body-2 {
    width: 100%;
    margin-top: 10%;
}

body header .logo-omee img{
    width: 30%;
    margin-top: 40%;
    margin-left: 35%;
}

footer img {
    width: 100%;
    margin-top: 40%;
}
